<div
  id="phx-react-root"
  data-page-key={@page_key}
  data-component-key={@component_key}
  data-page-module={@page_module}
  data-topic={@topic}
  data-session-id={@session_id}
  data-initial-state={Jason.encode!(@initial_state)}
  data-token={@token}
  data-page-endpoint={@page_endpoint}
  data-action-endpoint={@action_endpoint}
  data-csrf-token={@csrf_token}
>
  <%!-- React will mount here --%>
</div>
